/* Оновлені стилі для ProductInfo.module.css */

.productInfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #444;
    margin-top: 20px;
}

.selectedComponents {
    display: flex;
    flex-direction: column; /* Вертикальне розташування компонентів */
    gap: 20px; /* Відступи між компонентами */
    border-top: 1px solid #ddd; /* Верхня лінія для першого компонента */
}

.component {
    background-color: #f8f8f8;
    padding: 15px;
    border-top: 1px solid #ddd; /* Верхня лінія для кожного компонента */
    border-bottom: 1px solid #ddd; /* Нижня лінія для кожного компонента */
    text-align: left; /* Текст вирівняний ліворуч */
}

.component:last-child {
    margin-bottom: 30px; /* Додатковий нижній відступ для останнього компонента */
}

.component h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.component p {
    font-size: 16px;
    color: #666;
    margin: 4px 0;
}

.price {
    font-weight: bold;
    color: #4caf50;
}

.noPrice {
    color: #999;
    font-style: italic;
}
