
.footer {
    text-align: center;
    padding: 20px;
    background-color: #93a8ad;
    color: #fff;
    margin-top: auto; /* Футер буде на дні сторінки */
  }
  
  .footer p {
    font-weight: bold;
  }
  